.part2_p{
    font-family: 'Roboto',sans-serif;
font-size: 19px;
font-weight: 300;
line-height: 22.27px;
letter-spacing: 0.02em;
text-align: center;

}
@media only screen and (max-width: 768px) {
    .part2_p{
        font-size: 15px;
    }
}