.p_project{
    font-family: 'Roboto',sans-serif;
font-size: 45px;
font-weight: 300;
line-height: 48px;
letter-spacing: 0.9599999785423279px;
text-align: center;

}
.p2_project{
    font-family: 'Roboto',sans-serif;
font-size: 28px;
font-weight: 300;
line-height: 32.81px;
text-align: center;

}